alabaster==0.7.12
amadeus==5.0.0
args==0.1.0
asgiref==3.2.10
Babel==2.7.0
certifi==2019.9.11
chardet==3.0.4
click==7.1.2
clint==0.5.1
coverage==4.5.4
Django==3.1.2
docutils==0.15.2
doublex==1.8.4
doublex-expects==0.7.0rc2
expects==0.8.0
flake8==3.5.0
flake8-quotes==0.14.0
Flask==1.0.2
freeze==1.0.10
gunicorn==20.0.4
idna==2.7
imagesize==1.1.0
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.11.3
mamba==0.9.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.0
py==1.8.0
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.7.4
PyHamcrest==1.9.0
pyparsing==2.4.4
pytz==2020.1
requests==2.20.1
six==1.13.0
snowballstemmer==2.0.0
Sphinx==1.7.2
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.1.2
sqlparse==0.4.1
tox==2.9.1
urllib3==1.24.3
virtualenv==16.7.7
Werkzeug==1.0.1
whitenoise==5.0.1
zipp==0.6.0
